<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OnlineShopWindowsApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MaterialDesignThemes.Wpf" publicKeyToken="df2a72020bd7962a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.2556" newVersion="4.1.0.2556" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MaterialDesignColors" publicKeyToken="df2a72020bd7962a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.2556" newVersion="2.0.1.2556" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <OnlineShopWindowsApp.Properties.Settings>
      <setting name="WishListIds" serializeAs="String">
        <value />
      </setting>
      <setting name="CartIds" serializeAs="String">
        <value />
      </setting>
    </OnlineShopWindowsApp.Properties.Settings>
  </userSettings>
</configuration>